<ion-view view-title="About Us">
  <ion-content class="container">
  <br/>
<h1>Our History</h1>
<div>
<p>
Fourway Logistics Solutions commenced business in 2008 when our founders saw the vision to create a new-founded approach to Shipping & Logistics. The company aims to service the needs of the business community in various industry sectors by using the knowledge & expertise of our people which they gained through years of working in International Maritime & Transport.
</p>
<br/>
<h1>About Us </h1>
<p>
“Passion for customers” is all about putting our customers first. Understanding our customers requires us to spend time with them, ask questions, build relationships – and engage them in developing solutions. It also requires us to put forward our agenda and aspire to grow with our customers and handle more of their business.
</p>
<p>
“Dedication to service delivery” stands for operational quality and process discipline. We have a strong supply chain management product which can be executed in part or full depending on the needs of the individual customer. It stands for creating value for our customers through our knowledge and expertise about supply chains and international transportation. It stands for taking ownership of their supply chain problems, finding solutions, being reliable, and delivering what we promise.
</p>
<p>
“Energised people” is all about the strength of our organisation and the people in it. To achieve our objectives, we have a commercially astute sales team and customer service teams whom are empowered to take decisions in the best interest of our business and that of our customers. Our people both locally and abroad support regional and global customer pursuits and initiatives. We manage performance to that effect – coach and develop our people, set clear and high expectations and reward our high performers.
</p>
<p>
“Differentiation” is our key and whilst we may have strong competition in the market-place, it only serves to make us even stronger as a supplier and partner to our valued customers.
</p>
<p>
Our competitive edge having global business partners:
Our supply chain management product is market leading and a true differentiator;
We have the high operational and process discipline which drove the success of the largest Freight Forwarding and Shipping companies;
We are particularly strong in emerging markets and origins, and
We have a global presence yet strong local knowledge.
Africa is our home and we are strategically positioned in most developing countries
We are a Level 3 BBBEE accredited Service Provider.
Our management team has a combined knowledge base of 22 years in shipping, logistics and freight-forwarding.
</p>
</div>
  </ion-content>
</ion-view>