<ion-view view-title="Air">
    <ion-content class="container">
        <br/>
        <div>
            <p>
                Regular Air FreightRegular air freight (priority, standard, economy) From designing a fully-managed international set-up for all air freight services to dedicated handling of late shipments, our fast and flexible air freight services can get cargo to the right place, at the right time and at competitive rates.
            </p>
            <p>
                Our network handles international shipments of over 60,000 tonnes annually using a range of different carriers through our extensive network of hubs.
            </p>
            <p>
                This operational scale means we can time shipments according to production schedules to improve inventory flow and still secure favourable rates for our customers.
            </p>
            <p>
                Our flexible service packages offer cost-effective rates & transit times with shorter lead times for improved inventory flow
            </p>
            <p>
                A range of service options Our air freight services fall into three categories:
            </p>
            <p>
                Priority Priority goods are moved on the first available flight using our partners’ dedicated express services. For most major destinations, the maximum airport-to-airport transit time is two days. Standard
            </p>
            <p>
                This service uses our partners’ airlines standard services – typically daily uplifts. For most major destinations, the maximum airport-to-airport transit time is four days. Economy
            </p>
            <p>
                Our cost-effective economy service uses one or more consolidations per week depending on the origin. Sea AirSea-Air By combining the lower costs of ocean freight with the speed of air freight, our multimodal sea-air service gets cargo to its destination on time, in full and at a highly competitive price. Our extensive network of hubs provides a high level of control over the entire transportation process and ensure fast transit times and seamless connections to final destinations. This service allows shipments to be timed according to production schedules and improves inventory flow.
            </p>
        </div>
    </ion-content>
</ion-view>
