    <style>
      #map {
        width: 100%;
        height: 200px;
      }
    </style>
<ion-view view-title="Contact Us">
  <ion-content class="container">
    <br/>
        <h1>Contact us @ Fourway Logistics Solutions: Head Office</h1>
        <div>
            <p>
                <ul>
                    <li>Head Office: Office 1</li>
                    <li>
                        No 2 Fairways Lane</li>
                    <li>
                        Mount Edgecombe</li>
                    <li>
                        4305</li>
                    <li>
                        KZN, South Africa</li>
                    <li>
                        Tel: +0027-31-5022557</li>
                    <li>
                        Fax: +0027-31-5024383</li>
                    <li>
                        Email: sales@fourway-logistics.com</li>
                </ul>
            </p>
            <p>
            <div id="map">
            	maps
            </div>
            </p>
        </div>
    </ion-content>
</ion-view>
