<ion-view view-title="Home">
   <ion-content class="container">
     <br/>
    <h1>Fourway Logistics Solutions</h1>
    <div>
    <p>
    Our hands-on services and strategic solutions are extensive and customised to meet our customers’ every need. So whether it’s a competitive rate for an urgent shipment or a strategic partner who can identify and create short-term efficiencies and build up long-term competitiveness, our team of logistics professionals is ready to help. We have offices world-wide to take care of your every business need offering tailor-made logistics solutions that are simple yet effective.
    </p>
    <p>
       <img src="../img/map1.jpg" width="100%">
    </p>
    </div>
  </ion-content>
</ion-view>