<ion-view view-title="Our Promise">
     <ion-content class="container">
         <br/>
        <div>
            <p>
                We, Fourway Logistics Solutions, a MUSLIM owned business, solemnly commit To our Creator the ALL MIGHTY ALLAH ta aal’a Our intention for business will not be merely to enrich ourselves but to earn Halaal and spend in the right paths by serving humanity
            </p>
            <p>
                We regard it as a compulsory duty to learn all the Islamic rules and laws regarding business from the Ulema(Learned Islamic scholars & jurists)
            </p>
            <p>
                <ul>
                    <li>
                        We will spend our resources wisely, always maintaining appropriate reserves for challenges that may befall us as thought by the Qur’an in Surah Yusuf (Story of Joseph)
                    </li>
                    <li>
                        To our Customers who keep us in Business</li>
                    <li>
                        Our customers are our business partners</li>
                    <li>
                        Our primary responsibility is to provide the best quality service to our customers</li>
                    <li>
                        We will always receive our customers politely and treat them with respect and dignity</li>
                    <li>
                        We will work towards maximising efficiencies in our client’s best interest</li>
                    <li>
                        We will process all transactions speedily and without errors</li>
                    <li>
                        We will not misrepresent our services to any customer</li>
                    <li>
                        We will gladly accept to discuss any business matter with our customers</li>
                    <li>
                        To our Suppliers & Service Providers</li>
                    <li>
                        We will work with our suppliers and distributors to maintain consistency in quality and service</li>
                    <li>
                        We will ensure that they make a fair profit</li>
                    <li>
                        We will ensure that they deliver the best possible service to us which will enable us to serve our customers effectively</li>
                </ul>
                <h1>
To our Employees</h1>
                <ul>
                    <li>
                        All our employees will work in safe and clean conditions</li>
                    <li>
                        They will receive fair and adequate compensation</li>
                    <li>
                        They will have ample opportunities to develop their skills & competencies</li>
                    <li>
                        They are empowered to take necessary decisions in the best interest of all</li>
                    <li>
                        We will safeguard their rights and respect their dignity at all times</li>
                    <li>
                        We will clearly communicate to all employees what is expected of them</li>
                    <li>
                        We will allow them reasonable time to fulfil all their religious obligations</li>
                </ul>
                <h1>
To our Competitors</h1>
                <ul>
                    <li>
                        We will not engage in monopolistic behaviour and preclude others from competing with us</li>
                    <li>
                        We will compete fairly without engaging in un-Islamic tactics</li>
                    <li>
                        We will not be envious or malicious towards our competitors.</li>
                    <ul>
                        <h1>
To the Community
</h1>
                        <ul>
                            <li>
                                We will support the community through business and personal outreach</li>
                            <li>
                                We will be good citizens, by contributing to the welfare of the needy and the destitute in all societies</li>
                            <li>
                                We acquire wealth in this world by means of business. It is for this reason that Prophet Muhammad (choicest salutations be upon Him) strongly emphasized that business dealings must be free from any Haraam(Unlawful) transactions. Allah Ta’ala (God Almighty) is extremely happy with those businessmen who are honest and trustworthy in all their dealings and attempts to only acquire that which is Halaal (Lawful and Pure). Prophet Muhammad (choicest salutations be upon Him) gave glad tidings to the honest businessmen who, on the day of Qiyaamah (day of Judgment), will be with the Prophets, the Pious and the Martyrs. Indeed this is a very honorable position achieved through the virtues of being truthful and honest in one’s business and private dealings.
                            </li>
                        </ul>
                        <h1>
                        Business Partners, the Islamic Way
                        </h1>
            </p>

        </div>
    </ion-content>
</ion-view>

