<ion-view view-title="Road and Rail">

    <ion-content class="container">
    <br/>
        <div>
            <p>
                Road & RailFourway Logistics Solutions provides a complete solution for containerized cargo countrywide and over border transportation of containerized and break-bulk cargo by road and rail or a combination. All routes between Transnet Port Terminals and Transnet Freight Rail terminals within South Africa and other Southern African destinations are covered.
            </p>
            <p>Our local cartage services the major cities whilst our long distance service covers Southern Africa and beyond. With our dedicated Customer Relationship Managers and our internal tracking management system, we ensure that the movement of containers and loose goods between respective pick-up and delivery points are monitored daily, and forward status reports to customers via our clients preferred mode of communication.
            </p>
            <h1>Landside Services </h2>
            <p>
                Our landside services include:
                <ul>
                    <li>
                        Customs clearance of cargoes Ex-Works, Fob, C&F, CFR, Ddu, Ddp</li>
                    <li>
                        Forwarding of cargoes ex port to port, Warehouse to port and Warehouse to Warehouse.</li>
                    <li>
                        Inland transportation of cargoes by road, rail, barge or a combination to meet your requirements</li>
                    <li>
                        Cargo insurance</li>
                    <li>
                        International trade documents for Indent agents, Factoring, Letters of Credit etc</li>
                </ul>
            </p>
        </div>
    </ion-content>
</ion-view>
