<ion-view view-title="Sea freight">
   <ion-content class="container">
     <br/>
        <h1>Full container load (FCL)</h1>
        <div>
            <p>
                From single full-container load shipments to complete multimodal solutions, we pride ourselves in providing our customers with consistently high quality solutions, responsive services and competitive rates. Our extensive global network includes a strong presence in emerging markets such as Africa, Asia and Latin America and allows us to cover almost every origin and destination through 10,000 corridors worldwide:
                <ul>
                    <li>
                        Access to services from first class global carriers and regional niche carriers</li>
                    <li>
                        Centralised ocean procurement ensuring competitive rates and terms</li>
                    <li>
                        Multiple carrier solutions departing daily</li>
                    <li>
                        Available capacity and space protection with multiple carriers</li>
                    <li>
                        Cargo visibility</li>
                    <li>
                        Documentation management</li>
                    <li>
                        Customs clearance/brokerage services</li>
                    <li>
                        Pick-up, delivery and distribution</li>
                    <li>
                        Standard shipment visibility</li>
                    <li>
                        Special handling</li>
                    <li>
                        Less-Than Container LoadLess-than container load (LCL)</li>
                    <li>
                        Using our extensive global network and dedicated less-than container load specialists in key markets, our services cover almost every origin and destination through 10,000 corridors worldwide. With regular departures and fixed container freight station closings, we ensure personal service and attention to detail from pick-up to destination delivery. With our multi-country consolidation service, we can consolidate multiple less-than-container load shipments from different shippers and origins into one full-container load (FCL) shipment. This gives customers lower transit costs and fixed transit times using weekly sailings and smooth connections to the final destination.</li>
                    <li>
                        Faster access to goods as container yard boxes can be collected earlier than container depots</li>
                    <li>
                        One customs entry</li>
                    <li>
                        One container yard container for collection instead of several container freight station shipments</li>
                    <li>
                        One terminal handling charge/documentation fee</li>
                    <li>
                        Reduced trucking charges for full container load instead of multiple less-than-container loads</li>
                    <li>
                </ul>
            </p>
            <h1>
ReeferReefer</h1>
            <p>
                We understand the importance of cargo care when dealing with frozen or perishable products. We ensure that cargo travels in an unbroken cold chain from point of origin to final destination in close coordination with leading reefer container carriers and service providers. Our global dedicated service providers of reefer specialists offers customised solutions ranging from single corridor port-to-port to multiple corridor door-to-door solutions with full end-to-end visibility. Supported by a strong team of reefer logistics experts around the world, we strive to keep our organisation at the forefront of market and technology developments within the reefer sector.
            </p>
            <p>
                <ul>
                    <li>All shipments arrive on the same day and in the same containee</li>
                </ul>
            </p>
            <h1>RoRoRoRo</h1>
            <p>
                We have dedicated RoRo service providers connecting various parts of the world. From the eastern shores Japan to the southern parts of South America, we are able to offer a total logistics solution for your RoRo, Static, Non-Static and moveable cargoes.
            </p>
            <h1>
Break-Bulk</h1>
            <p>
                In addition to the sea transportation of containerised cargoes Fourway Logistics Solutions offers a service which caters for conventional (break bulk) cargo. Our service providers operate several Multi Purpose services around the globe. The Multi Purpose service is capable of carrying both conventional (break-bulk) as well as containerised cargo. As niche operators we are in a position to react fast and are often able to accommodate cargo at short notice. With our strategic partners, we are also flexible in terms of ports of call and where possible we will call at a alternative port should your cargo be too large to be accommodated by one of our regular ports of call. Our partnerships allow us to be:
                <ul>
                    <li>
                        Fast, flexible and responsive Designed to cater for the needs of the market; services that accommodate fluctuations in supply and demand; is flexible in terms of both space and deadweight capacity and is responsive to customer needs, both in terms of service and frequency.</li>
                    <li>
                        Provides for both multi-trade and multi-mode options. With Fourway Logistics Solutions you can ship both containerised and non-containerised cargo on the same vessel.</li>
                    <li>
                        Flexible in terms of ports of call – we’ll call at a different port if your cargo is too large to be moved by road to one of our regular ports of call.</li>
                    <li>
                        Predictable, reliable and safe</li>
                    <li>
                        When it comes to dealing with high-value cargo, our aim is to offer peace of mind at all times, which is why we place significant emphasis on the security and safety of cargo. Together with our partners we have decades of experience in safely transporting large industrial items by sea.</li>
                    <li>
                        Our scheduled, liner-type services offer the advantages of regular port calls, frequency and fast transit times – making it easy for you to streamline your supply chain and plan shipments with confidence.</li>
                    <li>
                </ul>
        </div>
    </ion-content>
</ion-view>
