<ion-view view-title="Supply Chain
 Management">
    <ion-content class="container">
      <br/>
        <div>
            <p>
                Supply Chain Management With today’s daily demands and the need to control and manage inventory, clients over the world have moved towards more sophisticated ways of managing their business. At Fourway, we have the tools and expertise to:
                <ul>
                    <li>
                        Manage and develop supply chain solutions
                    </li>
                    <li>
                        Manage import and export flows
                    </li>
                    <li>
                        Provide Visibility and information management
                    </li>
                    <li>
                        Provide Supporting and flexible supply chain solutions
                    </li>
                    <li>
                        Integration across multiple supply chain elements
                    </li>
                    <li>
                        Further develop any current Supply Chain
                    </li>
                </ul>
            </p>
        </div>
    </ion-content>
</ion-view>
