/* Empty. Add your own CSS if you like */
.bar-stable
{
 	background-repeat: no-repeat !important;
 	width: 100%!important;
 	background-size: 100% 100%!important;
 	background-image: url("../img/headerbg.png")!important;

}
.title
{
	color: white!important;
}
h1
{
	font-size: 18px !important;
	font-family: cursive !important;
	width: 100% !important;
	text-align: center !important;
}


ul li {
	 list-style-type: circle !important;
    /*background-image: url("../img/headerbg.png");*/
    padding-left: 15px; 
    list-style-image: url("../img/bullet.png")!important;
    list-style-position: inside;
}
.pane
{

}

